@charset "utf-8";
/**
+-----------------------------------------------------
* Layout of box page
+-----------------------------------------------------
*/
#mainWrap {
    background:#298380;
}

#header {
    width:100%;
    height:88px;
    border-top:2px solid #323232;
    background:#fff;
}

#logo {
    width:175px;
    height:59px;
    padding:8px 0 0 0;
    margin:0 auto;
}

#topBar {
    width:100%;
    height:28px;
    background:#323232;
    border-bottom:2px #404040 solid;
    position:absolute;
    z-index:1000;
    _left:0;
}

.topBarFixed {
    position:fixed!important;
    top:0;
}

#barBody {
    width:950px;
    height:28px;
    margin:0 auto;
}

#menu {
    position:absolute;
    left:120px;
    height:30px;
}

#mul li {
    float:left;
}

#mul a {
    display:block;
    padding:0 25px 0 25px;
    color:#FFF;
    line-height:28px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mulCur {
    background:#232323;
}

#mul a:hover {
    text-decoration:none;
    background:#000;
    border-bottom:2px #000 solid;
}

#acc {
    position:absolute;
    right:0;
}

#accT,#avt {
    width:30px;
    height:30px;
    float:left;
    color:#fff;
    line-height:30px;
}

#accT {
    text-align:center;
    font-size:12px;
    color:#5a5a5a;
    background:#232323;
}

.accTRed {
    background:#a60004!important;
    color:#fff!important;
}

#avt {
    background:url(../Images/defAVT.png) no-repeat;
}

#accM {
    padding:0 0 0 7px;
    float:left;
    width:123px;
    height:30px;
    line-height:30px;
    color:#fff;
    background:#232323;
}

#accM:hover {
    background:#000;
}

#accM a {
    color:#fff;
    display:block;
    float:left;
    height:28px;
    line-height:28px;
}

#accM a:hover {
    text-decoration:none;
}

#accS {
    float:left;
    width:30px;
    height:30px;
    background:url(../Images/accS.png) center;
    position:absolute;
    right:0;
}

.accSDown {
    background:url(../Images/accSDown.png) center!important;
}

#accul {
    position:absolute;
    right:0;
    top:30px;
    width:156px;
    padding:12px 0 0 0;
    background:url(../Images/accul.png) right top no-repeat;
    background-color:#fff;
    border-left:2px #fff solid;
    border-right:2px #fff solid;
    border-bottom:2px #fff solid;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    box-shadow:2px 4px 5px rgba(0,0,0,0.5);
}

#accul li {
    background:#fff;
}

#accul a {
    padding:5px 5px 5px 15px;
    display:block;
    height:17px;
    line-height:15px;
}

#accul a:hover {
    background:#298380;
    text-decoration:none;
    color:#fff;
    text-shadow:1px 1px 4px #232323;
}

#content {
    width:960px;
    padding:15px 0 0 0;
    margin:0 auto;
    margin-bottom:-1px;
    padding-bottom:1px;
    height:auto;
    overflow:auto;
}

.box {
    background:#f0f4f2 url(../Images/ajax-loader-small.gif) no-repeat center;
    width:162px;
    min-height:200px;
    border:none;
    border-radius:6px;
    opacity:1;
    margin:5px;
    padding:10px;
    text-shadow:1px 1px 1px #fff;
    _display:inline;
} 

.box img {
    margin:0 0 15px 0;
    width:162px;
    cursor:pointer;
}

.box img:hover {
    opacity:0.9;
}

.box .title {
    color:#484848;
    font-size:12px;
    float:left;
}

.box .author {
    color:#484848;
    display:block;
    margin:15px 0 0 0;
    padding:2px 5px;
    font-size:12px;
    float:left;
    clear:left;
    border:none;
    border-radius:4px;
    background:#d6d6d6;
    text-shadow:1px 1px 1px #fff;
    _display:inline;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.box .author:hover {
    color:#fff;
    background:#232323;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration:none;
    border:none;
    border-radius:4px;
}

.box .time {
    color:#999;
    font-size:12px;
    padding:2px 3px;
    margin:15px 0 0 0;
    float:left;
    _display:inline;
}

.box .like {
    display:block;
    width:10px;
    height:8px;
    background:url(../Images/like.png) no-repeat 8px 0;
    background-position-x:0;
    background-position-y:-9px;
    position:relative;
    top:38px;
    left:116px;
    -webkit-transition: all 0.13s ease-in-out;
    -moz-transition: all 0.13s ease-in-out;
    -o-transition: all 0.13s ease-in-out;
    transition: all 0.13s ease-in-out;
}

.box .like:hover {
    background:url(../Images/like.png) no-repeat 8px 0;
    background-position-x:0;
    background-position-y:-18px;
    cursor:pointer;
}

.box .num_like {
    font-size:12px;
    color:#d83e3e;
    display:block;
    position:relative;
    top:-19px;
    left:128px;
    width:50px;
}

.box:hover {
    background:#fff;
    box-shadow:1px 1px 5px rgba(30, 30, 30, 0.75);
}

#boxWrap {
    padding:30px 0;
    min-height:1200px;
}

.loading {
    width:960px;
    background:url(../Images/ajax-loader-big.gif) no-repeat center;
}

#openBox {
    display:none;
    top:50px;
    left:5px;
    position:absolute;
    z-index:2;
    width:566px;
    height:auto;
    overflow:auto;
    padding-bottom:1px;
    margin-bottom:-1px;
    background:#fff;
    border:none;
    border-radius:6px;
    box-shadow:1px 1px 5px rgba(30, 30, 30, 0.75);
}

#openBoxHeader {
    width:566px;
    height:40px;
}

#openBoxAuthor {
    background:url(../Images/openBoxAuthor.png) no-repeat center bottom;
    min-width:110px;
    height:39px;
    position:relative;
    left:15px;
    float:left;
}

#openBoxAuthorName {
    top:0;
    padding:0 5px 0 0;
    min-width:110px;
    height:30px;
    border:none;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background:#115b58;
}

#openBoxAuthorName a:hover {
    text-decoration:none;
}

#openBoxAuthorName img {
    float:left;
}

#openBoxAuthorName span {
    line-height:30px;
    margin:0 0 0 10px;
    color:#fff;
}

#openBoxCancel {
    width:30px;
    height:20px;
    position:absolute;
    right:0;
    top:15px;
    background:url(../Images/openBoxCancel.png);
    cursor:pointer;
}

#openBoxCancel:hover {
    background:url(../Images/openBoxCancelRed.png);
}

#openBoxContent {
    min-height:300px;
    background:url(../Images/ajax-loader-small.gif) no-repeat center;
}

#openBoxMenu {
    width:566px;
    font-size:12px;
    color:#ccc;
}

#openBoxMenu a {
    color:#ccc;
    padding:0 5px 0 5px;
}

#openBoxMenu a:hover {
    color:#232323;
    text-decoration:none;
}

#tags {
    position:relative;
    left:18px;
}

#openBoxLike {
    position:absolute;
    right:18px;
}

#openBoxCommentAdd {
    width:516px;
    margin-top:16px;
    padding:12px 10px;
    background:#f0f4f2;
    border:none;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    position:relative;
    left:15px;
}

#openBoxCommentAddText {
    color:#ccc;
    font-family:arial,sans-serif;
    width:516px;
    height:30px;
    border:none;
    border-radius:6px;
    -webkit-transition: all 0.13s ease-in-out;
    -moz-transition: all 0.13s ease-in-out;
    -o-transition: all 0.13s ease-in-out;
    transition: all 0.13s ease-in-out;
}

#openBoxCommentAddText:focus {
    width:506px;
    height:60px;
    padding:5px;
    font-size:14px;
    color:#232323;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
    outline:none;
}

#openBoxCommentButton {
    display:none;
    color:#444;
    cursor:pointer;
    border-radius:2px;
    border:1px solid #AAA;
    padding:3px 12px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	background:#ebebeb -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e5e5e5));
	background:#ebebeb -moz-linear-gradient(top, #fafafa,#e5e5e5);
    position:relative;
    top:5px;
    left:450px;
    -webkit-transition: all 0.13s ease-in-out;
    -moz-transition: all 0.13s ease-in-out;
    -o-transition: all 0.13s ease-in-out;
    transition: all 0.13s ease-in-out;
}


#openBoxCommentButton:hover {
    color:#222;
	background:#ebebeb -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e9e9e9));
	background:#ebebeb -moz-linear-gradient(top, #fefefe,#e9e9e9);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
}

#openBoxCommentList {
    padding-bottom:15px;
    float:left;
}

#openBoxCommentListul li {
    width:516px;
    margin:1px 0 0 0;
    padding:10px;
    background:#f0f4f2;
    position:relative;
    left:15px;
    float:left;
    font-size:12px;
    color:#484848;
}

.openBoxAvatar {
    padding:0 10px 0 0;
    float:left;
}

.openBoxCommentContent {
    width:470px;
    float:left;
}

#blankBlock {
    _display:none;
    position:relative;
    padding-top:3px;
    bottom:0;
    width:100%;
    height:70px;
    text-align:center;
    font-weight:bold;
    color:#000;
    text-shadow:-1px -1px 1px #6DBCBA;
    background:#298380;
}

#botBar {
    width:100%;
    position:fixed;
    _position:relative!important;
    bottom:0;
}

#boxTool {
    width:950px;
    height:70px;
    margin:0 auto;
    background:url(../Images/boxTool.png) left no-repeat;
    background-color:#0D5552;
    z-index:15;
}

#boxTool div, #boxTool li {
    float:left;
    line-height:70px;
}

#toolT {
    font-size:16px;
    color:#d4e4e4;
    width:80px;
    padding:0 15px 0 0;
    text-align:center;
}

#toolM a {
    display:block;
    color:#588d8c;
    margin:0 5px 0 5px;
    padding:0 5px 0 5px;
    text-shadow:1px 1px 1px #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#toolM a:hover {
    text-decoration:none;
    background:#0b4745;
    color:#d4e4e4;
    text-shadow:1px 1px 1px #232323;
}

#toolS {
    padding:20px 0 0 0;
}

#svgS {
    position:absolute;
    z-index:2;
    top:25px;
    left:6px;
}

#toolSinput {
    width:185px;
    height:30px;
    _line-height:30px;
    _padding:0;
    padding:0 10px 0 25px;
    display:block;
    border-radius:22px;
    border:none;
    background:#a6c8c7;
    -webkit-transition: all 0.3s tease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#toolSinput:hover {
    background:#e2eeee;
}

#toolSinput:focus {
    outline:none;
    background:#eee;
}

#makeB {
    padding:0 5px 0 5px;
    margin:0 5px 0 5px;
}

#makeB .cancel {
    position:absolute;
    z-index:10;
    top:5px;
    right:5px;
    display:block;
    width:15px;
    height:15px;
    text-align:center;
    line-height:15px;
    cursor:default;
}

.makeBDown, .addBDown {
    text-decoration:none;
    background:#0b4745;
    text-shadow:1px 1px 1px #232323;
    color:#d4e4e4!important;
}

#makeB a, #addB a {
    display:block;
    color:#588d8c;
    padding:0 5px 0 5px;
    text-shadow:1px 1px 1px #333;
}

#makeB a:hover, #addB a:hover {
    text-decoration:none;
    background:#0b4745;
    color:#d4e4e4;
    text-shadow:1px 1px 1px #232323;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#makeBul {
    width:410px;
    height:260px;
    position:absolute;
    left:-180px;
    bottom:80px;
    background:#fff;
    border:1px #fff solid;
    border-radius:6px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.9);
} 

#makeBarr {
    position:absolute;
    top:30px;
    right:100px;
}

#refrB a {
    display:block;
    width:50px;
    height:50px;
    background:url(../Images/refrB.png) no-repeat;
    position:absolute;
    float:right;
    top:12px;
    left:20px;
}

#refrB a:hover {
    background:url(../Images/refrBHover.png) no-repeat;

}

#refrB a:active {
    background:url(../Images/refrB.png) no-repeat;
}

#makeBoption {
    /* Debug */
    display:none;
    width:950px;
    height:31px;
    /*
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-top:1px solid #fff;
    box-shadow:0 -2px 3px rgba(0, 0, 0, 0.2);
    */
	background:rgba(255, 255, 255, 0.55); /*-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.75)));*/
    position:absolute;
    top:-31px;
    left:0;
    line-height:30px!important;
}

#makeBoption a {
    background:rgba(255, 255, 255, 0.95);
    line-height:30px;
    display:block;
    float:right;
    width:70px;
    height:30px;
    margin:0 0 0 1px;
    text-align:center;
    font-size:16px;
    color:#484848;
    _display:inline;
}

#makeBoption a:hover {
    color:#298380;
    text-decoration:none;
    background:rgba(255, 255, 255, 0.95) url(../Images/makeBoption.gif) no-repeat left center;
    background-position-x:7px;
    /*
	background:rgba(255, 255, 255, 0.5) -webkit-gradient(linear, 0 0, 0 100%, from(rgba(200, 200, 200, 1)), to(rgba(255, 255, 255, 1)));
	background:rgba(255, 255, 255, 0.5) -moz-linear-gradient(top, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.75));
    */
}
