/*
 *-------------------------------------------------------------------------
 *login css
 *coded by lifang
 *-------------------------------------------------------------------------
 */
/*-------------------some common set------------*/
.L_cdw:focus {
    transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;border-color:rgba(246,240,246,.75);
    box-shadow:0 0 8px rgba(246,240,260,.5);
    -moz-box-shadow:0 0 8px rgba(246,240,232,.5);
    -webkit-box-shadow:0 0 8px rgba(246,240,232,10);
    background:#ffd;
    margin-top:3px;
} 

.L_label-name{
    top:15px;
    position:relative;
    color:#ccc;
    z-index:1;
    font-size:20px;
    left:1em;
}
.L_rg-item{
    width:320px;
    height:55px;
    margin-bottom:30px;
    background:url(../Images/index-buttons.png) no-repeat -12px -68px;
    z-index:2;
}
.L_highlight{
    color:#ffd;
    z-index:-9999;
}
/*---------login and register 's wrap------------*/
#L_bg{
    background:#298381;
    overflow-y:hidden;
    min-width:1024px;
}
#L_bg input,a,a:hover {
    outline:none;
    text-decoration:none;
}
#L_wrap{
        position:relative;
}
.L_logo{
    width:310px;
    height:90px;
    float:left;
}
#L_content{
    background:url(../Images/login-bg.png) no-repeat 50px -30px;
    width:1024px;
    position:relative;
    height:500px;
    margin-top:100px;
}

/*----------------------the login page--------------*/
/*------------------------the left------------------*/
#L_login-register{
    width:52%;
    float:left;
    height:458px;
}
#L_login-register button{
    height:70px;
}
#L_login-register .L_show{
    width:72px;
    position:absolute;
    top:170px;
    left:300px;
    background:url(../Images/index-buttons.png) no-repeat -21px -126px;
    cursor:pointer;
    border:0;
}
#L_login-register .L_show:hover {
    background:url(../Images/index-buttons.png) no-repeat -92px -123px;
}
#L_login-register .L_login-button{
    width:39px;
    height:38px;
    position:absolute;
    top:261px;
    left:221px;
    background:url(../Images/index-buttons.png) no-repeat -36px -196px;
    cursor:pointer;
    border:0;
}
#L_login-register .L_login-button:hover {
    background:url(../Images/index-buttons.png) no-repeat -82px -199px;
}
/*---------------------------the right form-----------------------*/
#L_login-form{
    float:right;
    width:43%;
    height:458px;
    padding-left:5%;
}
#L_login-account{
    margin-bottom:25px;
}
.L_login-form-item{
    position:relative;
    width:318px;
    height:50px;
}
.L_login-form-item label.nocontent{
    visibility:visible;
}
.L_login-form-item label{
    position:absolute;
    top:15px;
    left:20px;
    font-size:21px;
    cursor:text;
    color:#92A2AF;
    z-index:1;
}
.L_item-active{
    visibility:visible;
    color:#ccc;
}
.L_login-form-element{
    background:url(../Images/index-buttons.png) no-repeat -13px -69px;
    width:320px;
    height:55px;
    z-index:0;
}
.L_login-form-input{
    background-color:transparent;
    font-size:17px;
    width:320px;
    height:55px;
    padding:0 17px;
    border:0;
    color:#267977;
    font-family:"Microsoft Yahei";
}
#L_login-password{
    margin-bottom:15px;
}
.L_login-setting{
    margin-bottom:8px;
    font-size:12px;
    clear:both;
    overflow:hidden;
}
.L_login-setting label{
    float:left;
    color:#d0eae9;
}
.L_login-setting input{
    margin:0 5px;
}
.L_login-feget-pwd{
    color:#d0eae9;
    text-decoration:none;
    padding-left:34px;
}
#L_login-submit{
    background:url(../Images/index-buttons.png) no-repeat -172px -133px;
    width:166px;
    height:57px;
    cursor:pointer;
    border:0;
    float:right;
}
#L_login-submit:hover {
    background:url(../Images/index-buttons.png) no-repeat -172px -190px;
    width:166px;
    height:60px;
    cursor:pointer;
    border:0;
}


/*-----------------register page-------------*/
#L_wrap-register{
    width:1024px;
    height:500px;
    position:relative;
    margin-top:100px;
}
#L_register-register{
    width:52%;
    background:url(../Images/L_rg.png) no-repeat -14px -110px;
    float:right;
    height:458px;
}
#L_register-register button{
    height:70px;
}
#L_register-register .L_show{
    width:72px;
    position:absolute;
    top:129px;
    left:300px;
    background:url(../Images/index-buttons.png) no-repeat -21px -126px;
    cursor:pointer;
    border:0;
}
#L_register-register .L_show:hover {
    background:url(../Images/index-buttons.png) no-repeat -92px -123px;
}
#L_register-register .L_login-button{
    width:39px;
    height:38px;
    position:absolute;
    top:198px;
    left:188px;
    background:url(../Images/index-buttons.png) no-repeat -36px -196px;
    cursor:pointer;
    border:0;
}
#L_register-register .L_login-button:hover {
    background:url(../Images/index-buttons.png) no-repeat -82px -199px;
}
/*-------register-form------*/
#L_register-form{
    float:left;
    width:43%;
    height:458px;
    padding-left:5%;
}

#L_register-check-box{
    width:300px;
    height:40px;
    padding-left:20px;
    color:#fff;
    font-size:20px;
}
#L_woman-name{
    padding-right:70px; 
}
#L_woman{
    margin-right:10px;
}
#L_man{
    margin-right:10px;
}
#L_register-submit{
    background:url(../Images/index-buttons.png) no-repeat -173px -253px;
    width:160px;
    height:50px;
    cursor:pointer;
    border:0;
    float:left;
}
#L_register-submit:hover {
    background:url(../Images/index-buttons.png) no-repeat -8px -253px;
    width:160px;
    height:50px;
    cursor:pointer;
    border:0;
}
.error{
    color:#ff9900;
    font-size:13px;
    text-indent:1em;
    margin-left:20px;
    position:relative;
    line-height:30px;
}
.L_rg-item input{
    color:#aaa;
    font-size:20px;
    text-indent:1em;
    font-family:"微软雅黑";
    width:306px;
    height:48px;

    border:0;
    background-color:transparent;
}

/*--------------------forget password-----------------*/
#L_forget{
    width:660px;
    height:263px;
    color:#454545; 
    background:#ccc;
    padding:8px 0 0 60px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#L_forget h1{
   font-size:30px;
   font-weight:normal;
}
#L_forget p{
    font-size:15px;
}
.L_fg-item{
    width:454px;
    height:50px;
}
.L_fg-input{
    width:310px;
    height:42px;
 background:url(../Images/index-buttons.png) no-repeat -15px -359px;
    float:left;
    z-index:2;

}
.L_fg-input2{
    width:306px;
    height:35px;
    font-size:20px;
    border:0;
    margin:2px 0 0 2px;
    }
.L_send-item{
    position:relative;
    width:120px;
    height:40px;
    float:right;
    margin-top:2px;
}
#L_send-submit{
 background:url(../Images/index-buttons.png) no-repeat -80px -310px;
    width:120px;
    height:40px;
    cursor:pointer;
    border:0;
   
}

.L_sented{
   font-size:15px; 
   color:#454545;
   width:508px;
   height:79px;
}
.L_sented p{
    line-height:1.5em;

}
.L_sented a{
    color:#28837f;
}
.L_disp{
    display:none;
}
